.vs
UrlShortener\UrlShortener\bin\*.*
UrlShortener\UrlShortener\obj\*.*
UrlShortener\UrlShortener\Properties\*.*
UrlShortener/bin/Debug/net6.0/Azure.Core.dll
*.dll
*.exe
*.pdb
*.targets
*.props
*.sentinel
UrlShortener/bin/Debug/net6.0/appsettings.Development.json
UrlShortener/bin/Debug/net6.0/appsettings.json
UrlShortener/bin/Debug/net6.0/UrlShortener.deps.json
UrlShortener/bin/Debug/net6.0/UrlShortener.runtimeconfig.json
UrlShortener/obj/Release/net6.0/UrlShortener.GlobalUsings.g.cs
UrlShortener/obj/Release/net6.0/UrlShortener.assets.cache
UrlShortener/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
UrlShortener/obj/Release/net6.0/UrlShortener.AssemblyInfoInputs.cache
UrlShortener/obj/Release/net6.0/UrlShortener.AssemblyInfo.cs
UrlShortener/obj/Release/net6.0/UrlShortener.GeneratedMSBuildEditorConfig.editorconfig
UrlShortener/obj/UrlShortener.csproj.nuget.dgspec.json
UrlShortener/obj/project.nuget.cache
UrlShortener/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
UrlShortener/obj/Debug/net6.0/UrlShortener.AssemblyInfo.cs
UrlShortener/obj/Debug/net6.0/UrlShortener.AssemblyInfoInputs.cache
UrlShortener/obj/Debug/net6.0/UrlShortener.assets.cache
UrlShortener/obj/Debug/net6.0/UrlShortener.csproj.AssemblyReference.cache
UrlShortener/obj/Debug/net6.0/UrlShortener.csproj.CoreCompileInputs.cache
UrlShortener/obj/Debug/net6.0/UrlShortener.csproj.FileListAbsolute.txt
UrlShortener/obj/Debug/net6.0/UrlShortener.GeneratedMSBuildEditorConfig.editorconfig
UrlShortener/obj/Debug/net6.0/UrlShortener.GeneratedMSBuildEditorConfig.editorconfig
UrlShortener/obj/Debug/net6.0/UrlShortener.GlobalUsings.g.cs
UrlShortener/obj/Debug/net6.0/UrlShortener.csproj.CopyComplete
UrlShortener/obj/Debug/net6.0/staticwebassets.build.json
UrlShortener/obj/Debug/net6.0/UrlShortener.genruntimeconfig.cache
UrlShortener/obj/Debug/net6.0/UrlShortener.MvcApplicationPartsAssemblyInfo.cache
UrlShortener/obj/Debug/net6.0/UrlShortener.MvcApplicationPartsAssemblyInfo.cs
UrlShortener/obj/project.assets.json
UrlShortener/Properties/launchSettings.json
todo.txt
